@using MVCStok.Models.Entities;
@model List<Products>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<style>
    html,
    body {
        height: 100%;
    }

    body {
        margin: 0;
        background: linear-gradient(45deg, #49a09d, #5f2c82);
        font-family: sans-serif;
        font-weight: 100;
    }

    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


    table {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        9 border-collapse: collapse;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0,0,0,0.1);
    }

    th,
    td {
        padding: 15px;
        background-color: rgba(255,255,255,0.2);
        color: #fff;
    }

    th {
        text-align: left;
    }

    thead {
        th

    {
        background-color: #55608f;
    }

    }

    tbody {
        tr

    {
        &:hover

    {
        background-color: rgba(255,255,255,0.3);
    }

    }

    td {
        position: relative;
        &:hover

    {
        &:before

    {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -9999px;
        bottom: -9999px;
        background-color: rgba(255,255,255,0.2);
        z-index: -1;
    }

    }
    }
    }
</style>

<table class="styled-table">

    <tr>

        <th>ID</th>
        <th>Ürün Adı</th>
        <th>Kategori</th>
        <th>Marka</th>
        <th>Stok Adedi</th>
        <th>Alış Fiyatı</th>
        <th>Satış Fiyatı</th>
        <th>GÖRSEL</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>

    @foreach(var p in Model)
    {

        <tr>
            <td>@p.ProductID</td>
            <td>@p.ProductName</td>
            <td>@p.Category.CategoryName</td>
            <td>@p.ProductBrand</td>
            <td>@p.Stock</td>
            <td>@p.PurchasePrice</td>
            <td>@p.SalePrice</td>
            <td>@p.ProductImage</td>
            <td><a href="/Products/DeleteProduct/@p.ProductID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Products/GetProduct/@p.ProductID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }

</table>
<br />
<a href="/Products/addProduct/" class="btn btn-info">Yeni Ürün</a>

